{% extends 'layoutDisplay.html.twig' %}

{% block timePickerCDN %}
    {% endblock %}

{% block title %}Creation de sortie{% endblock %}
{% block titrePage %}
{% endblock %}
{% block main %}

    <div class="wrapper-event-creation wrapper-event-creation-overide">
        <header>
            <h1>Créer une sortie <span class="point">.</span></h1>
        </header>
        <main>
            {{ form_start(eventForm) }}
            <section class="event-creation-form-first-cl">
                {{ form_row(eventForm.nom) }}
                <div class="dates">
                    {{ form_row(eventForm.dateDebut, {'attr': {'type': 'datetime-local'}}) }}
                    {{ form_row(eventForm.dateCloture) }}
                </div>
                {{ form_row(eventForm.duree) }}
                {{ form_row(eventForm.nbInscriptionsmax) }}
                {{ form_row(eventForm.campus) }}
                {{ form_widget(eventForm.lieu) }}
                {{ form_row(eventForm.descriptionsInfos) }}
                <div class="event-creation-btns-wrapper">
                    {{ form_row(eventForm.enregistrer) }}
                    {{ form_row(eventForm.publier) }}
                    {{ form_row(eventForm.annuler) }}
                </div>
            </section>
            {{ form_end(eventForm) }}
        </main>

    </div>
{% endblock %}
