{% extends 'layoutDisplay.html.twig' %}

{% block title %}Creation de sortie{% endblock %}
{% block main %}
    <div class="wrapper-event-creation">
        <header>
            <h1>Créer une sortie</h1>
        </header>
        <main>

                {{ form_start(eventForm) }}
                <section class="event-creation-form-first-cl">
                    {{ form_row(eventForm.nom) }}
                    {{ form_row(eventForm.descriptionsInfos) }}
                    {{ form_row(eventForm.etat) }}
                    {{ form_widget(eventForm.lieu) }}
                    <div class="dates">
                        {{ form_row(eventForm.dateDebut) }}
                        {{ form_row(eventForm.dateCloture) }}
                    </div>
                    {{ form_row(eventForm.duree) }}
                    {{ form_row(eventForm.nbInscriptionsmax) }}

                </section>
                <section class="event-creation-form-second-cl">


                </section>
                <section id="event-creation-btn-save-container">
                    <div id="event-creation-btn">
                        {{ form_row(eventForm.urlPhoto) }}
                    </div>
                    <div id="event-creation-btn">
                        {{ form_row(eventForm.save) }}
                    </div>
                </section>
                {{ form_end(eventForm) }}
        </main>
    </div>
{% endblock %}
