{% extends 'layoutDisplay.html.twig' %}

{% block title %}Annuler la sortie{% endblock %}

{% block mainSection %}

        {# content #}
        <div class="disable-event-content">
            <header id="disable-event-header">
                <h1>Annuler la sortie<span class="point">.</span></h1>
            </header>
            <div class="flex-centered height-100">
                <main class="disable-event-main">
                    <section class="disable-event-wrapper">
                        <div class="disable-event-information">
                            <article>
                                <span class="disable-event-lbl">Nom de la sortie : </span><span class="disable-event-input">{{ sortie.nom }}</span>
                            </article>
                            <article>
                                <span class="disable-event-lbl">Date de la sortie : </span><span class="disable-event-input">{{ sortie.dateDebut|date("m/d/Y") }}</span>
                            </article>
                            <article>
                                <span class="disable-event-lbl">Campus : </span><span class="disable-event-input">  {{ sortie.campus.nomCampus }}</span>
                            </article>
                            <article>
                                <span class="disable-event-lbl">Lieu :  </span><span class="disable-event-input">  {{ sortie.lieu.nomLieu }}</span>
                            </article>
                        </div>
                        {{ form_start(disableEventForm) }}
                        <div class="disable-event-motif">
                            {{ form_row(disableEventForm.motifAnnulation) }}
                        </div>
                        <div class="disable-event-wrapper">
                            <div class="disable-event-btns">
                                {{ form_row(disableEventForm.valider) }}
                                {{ form_row(disableEventForm.retour) }}
                            </div>
                        </div>
                        {{ form_end(disableEventForm) }}
                    </section>
                </main>
            </div>
            <footer>
                <p>Made with ❤️</p>
            </footer>
    </div>


{% endblock %}
