{% extends 'layoutDisplay.html.twig' %}

{% block title %}
    Sortir.com | {{ sortie.nom }}
{% endblock %}

{% block mainSection %}
    <div class="sidebyside">
        <div class="side">
            <p><b>Nom:</b> {{ sortie.nom }} <br></p>
            <p><b>Date de début:</b> {{ sortie.dateDebut|date("d/m/Y") }} <br></p>
            <p><b>Date de clôture:</b> {{ sortie.datecloture|date("d/m/Y") }}<br></p>
            <p><b>Nombre de participants max:</b> {{ sortie.nbInscriptionsmax }} <br></p>
            <p><b>Durée:</b> {{ sortie.duree }} minutes <br></p>
            <p><b>Description:</b> {{ sortie.descriptionsInfos }} <br></p>
        </div>
        <div class="side">
            <p><b>Campus:</b> {{ sortie.campus.nomCampus }} <br></p>
            <p><b>Lieu:</b> {{ sortie.lieu.nomLieu }} <br></p>
            <p><b>Rue:</b> {{ sortie.lieu.rue }} <br></p>
            <p><b>Code postal:</b> {{ sortie.lieu.villes.codePostal }}<br></p>
            <p><b>Latitude:</b> {{ sortie.lieu.latitude }} <br></p>
            <p><b>Longitude:</b> {{ sortie.lieu.longitude }} <br></p>
        </div>
    </div>
    <h4>Affichage des participants</h4>
    <div class="scrollableDiv table-responsive">
        <table class="table-sm table-striped table-bordered table-hover">
            <thead class="thead-dark">
            <th>Pseudo</th>
            <th>Nom complet</th>
            </thead>
            <tbody>
            {% for p in participants %}
                <td>{{ p.participant.pseudo }}</td>
                <td>{{ p.participant.nom }} {{ p.participant.prenom }}</td>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <p>Made with ❤️</p>
    </footer>
{% endblock %}