{% extends 'layoutDisplay.html.twig' %}

{% block titrePage %}
{% endblock %}


{% block mainSection %}
    <div class="pageComplet">
    <div class="infos">
        <div class="width-100">
            <div class="width-50">
                Date du jour : {{ "now"|date("d/m/Y") }} <br>
                Participant : {{ app.user.Pseudo }}
            </div>
            <div class="home-message-flash width-50">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {{ parent() }}

    <div class="formComplet">
    <div class="formComplet-item width-100">
        <h3>Filtrer les sorties</h3>
    </div>
    <div class="home-content-form width-100 formComplet">
        {{ form_start(homeform) }}
        {{ form_row(homeform.campus) }}
        {{ form_row(homeform.nomSortie) }}
        {{ form_row(homeform.dateDebut, {'attr' : {'min': "now"|date('Y-m-d')}} ) }}
        {{ form_row(homeform.dateCloture, {'attr' : {'min': "now"|date('Y-m-d') }} ) }}
        <div class="width-100">
            <div class="home-checkbox">
                {{ form_row(homeform.organisateur) }}
                {{ form_row(homeform.inscrit) }}
                {{ form_row(homeform.noninscrit) }}
                {{ form_row(homeform.outdated) }}
            </div>
        </div>

        {{ form_end(homeform) }}
        <div class="btnCreaEvent">
            <button type="submit" class="btn btn-primary mb-2"><a href="{{ path('create_event') }}">Créer une sortie</a>
            </button>
        </div>
    </div>
    {# -------------------  Liste Déroulante des Sorties ----------------------- #}

    <div class="listSortie table-responsive">
        <table class="table-sm table-striped table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {# //TODO  Voir les objet/attributs à call #}
            {% for sortie in sorties %}

                <tr>

                    {# Nom de la sortie #}
                    <td> {{ sortie.nom }}</td>

                    {# Date de Début #}
                    <td> {{ sortie.getDateDebut() | date ('d-m-Y') }} </td>

                    {# Date de Cloture #}
                    <td> {{ sortie.dateCloture() | date ('d-m-Y') }} </td>

                    {# Nombre d'inscrit #}
                    <td> {{ sortie.inscriptions|length }} / {{ sortie.nbInscriptionsmax }} </td>

                    {# Libelle de l'Etat #}
                    <td> {{ sortie.getEtat().getLibelle() }} </td>

                    {# Inscrit #}
                    <td>
                        {% if sortie.getOrganisateur().pseudo is same as (app.user.pseudo) %}
                        
                        {% elseif sortie.canInscrit(app.user) is same as (true) %}
                            'Oui'
                        {% else %}
                            'Non'
                        {% endif %}
                    </td>

                    {# Nom de l'organisateur avec lien du profil #}
                    <td>{% if sortie.getOrganisateur().pseudo is same as (app.user.pseudo) %}
                            {{ sortie.getOrganisateur().pseudo }}

                        {% else %}
                            <a href="{{ path('user',{'id' : sortie.getOrganisateur().id }) }}">{{ sortie.getOrganisateur().pseudo }}</a>

                        {% endif %}
                    </td>

                    {# Action #}
                    <td>
                        {# Afficher - Annuler #}
                        {% if sortie.canRead and sortie.canCancel(app.user) %}
                            <a href="{{ path('event',{'id' : sortie.id }) }}">Afficher</a> - <a
                                href="{{ path('cancel_event',{'id' : sortie.id }) }}">Annuler</a>

                            {# Modifier - Publier #}
                        {% elseif sortie.canModify(app.user) %}
                            <a href="{{ path('update_event',{'id' : sortie.id }) }}">Modifier</a> - <a
                                href="{{ path('publish',{'id' : sortie.id }) }}">Publier</a>


                            {# Afficher - Se desister #}
                        {% elseif sortie.canRead() and sortie.canInscrit(app.user) %}
                            <a href="{{ path('event',{'id' : sortie.id }) }}">Afficher</a> - <a
                                href="{{ path('reject_inscription',{'id' : sortie.id }) }}">Se désister</a>

                            {# Afficher - S'inscrire #}
                        {% elseif sortie.canRead() and sortie.canInscrit(app.user) is same as (false) %}
                            <a href="{{ path('event',{'id' : sortie.id }) }}">Afficher</a> - <a
                                href="{{ path('inscription_to_event',{'id' : sortie.id }) }}">S'inscrire</a>


                            {# Afficher #}
                        {% else %}
                            <a href="{{ path('event',{'id' : sortie.id }) }}">Afficher</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# -------------------  Bouton Création d'une sortie ----------------------- #}
    </div>
    <footer>
        <p>Made with ❤️</p>
    </footer>
{% endblock %}