{% extends 'layout.html.twig' %}

{% block titrePage %}
{% endblock %}


{% block mainSection %}
    <div class="pageComplet">
        <div class="infos">
            Date du jour : {{ "now"|date("d/m/Y") }} <br>
            Participant : {{ app.user.Pseudo }}
        </div>
        {{ parent() }}

        <div class="formComplet">

            <div class="formGauche">

                <div class="formTitre">
                    <h3>Filtrer les sorties</h3>
                </div>




                {# ------------------- Liste deroulante Campus  ----------------------- #}

                <div class="formListCampus">
                    <label for="exampleFormControlSelect1">Campus : </label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        {% for c in campus %}
                            <option>
                                {{ c.nomCampus }}
                            </option>
                        {% endfor %}
                    </select>
                </div>



                {# -------------------  Barre de recherche ----------------------- #}

                <div class="formSearch">
                    <label for="exampleFormControlInput1">Le nom de la sortie contient :</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>

                {# -------------------  Date ----------------------- #}
                <div class="formDate">
                    <div class="formDate1">
                        <label for="exampleFormControlInput1">Entre :</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1">
                    </div>

                    <div class="formDate2">
                        <label for="exampleFormControlInput1"> Et :</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1">
                    </div>

                </div>


            </div>

            <div class="formDroit">

                {# -------------------  Checkbox-Group ----------------------- #}

                <select name="cars">
                    <option>Sorties dont je suis l'organisateur/trice</option>
                    <option>Sorties auxquelles je suis inscrit/e</option>
                    <option>Sorties auxquelles je ne suis pas inscrit/e</option>
                    <option>Sorties passées</option>
                </select>

                {# -------------------  Boutton Submit Form ----------------------- #}

                <button type="submit" class="btn btn-primary mb-2">Rechercher</button>

            </div>

            </form>

        </div>
        {# -------------------  Liste Déroulante des Sorties ----------------------- #}

        <div class="listSortie">
            <table>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>


                {# //TODO  Voir les objet/attributs à call #}
                {% for sortie in sorties %}
                <tr>
                    <td> {{ sortie.nom}} </td>
                    <td> {{ sortie.getDateDebut() | date ('d-m-Y')}} </td>
                    <td> {{ sortie.dateCloture() | date ('d-m-Y')}} </td>
                    <td> {{ sortie.inscriptions|length}} / {{ sortie.nbInscriptionsmax}} </td>
                    <td> {{ sortie.getEtat().getLibelle()}} </td>
                    <td> {# INSCRIT ???????????   #} </td>
                    <td> {{ sortie.getOrganisateur().pseudo }}  </td>

                    <td>
{#                        #}
{#                        #}{# Afficher #}
{#                        {% if sortie.canRead() %}#}
{#                            <a href="#">Afficher</a>#}
{#                        {% endif %}#}

{#                        #}{# Modifié - Publier #}
{#                        {% if sortie.canModify(app.user) and sortie.canPublish(app.user) %}#}
{#                            <a href="#">Modifier</a> - <a href="#">Publier</a>#}
{#                        {% endif %}#}

{#                        #}{# Afficher - Annuler #}
{#                        {% if sortie.canRead and sortie.canCancel(app.user) %}#}
{#                            <a href="#">Afficher</a> - <a href="#">Annuler</a>#}
{#                        {% endif %}#}

{#                         #}{# TODO Méthode pour se désister et d'incrire #}
{#                        #}{# Afficher - Se desister #}
{#                        {% if sortie.canRead()  %}#}
{#                            <a href="#">Afficher</a> - <a href="#">Se désister</a>#}
{#                        {% endif %}#}

{#                        #}{# Afficher - S'inscrire #}
{#                        {% if sortie.canRead() %}#}
{#                            <a href="#">Afficher</a> - <a href="#">S'inscrire</a>#}
{#                        {% endif %}#}


                    </td>

                </tr>
                {% endfor %}

            </table>

        </div>
        {# -------------------  Bouton Création d'une sortie ----------------------- #}
        <div class="btnCreaEvent">
            <button type="submit" class="btn btn-primary mb-2"><a href="{{ path('create_event') }}">Créer une sortie</a></button>

        </div>


    </div>
{% endblock %}