{% extends 'layout.html.twig' %}

{% block scrollableInfo %}
    <main id="main">
        <section id="about" class="about">
            <div class="container connexion-wrapper">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <div class="titreCo">
                    <h1>Connexion</h1>
                </div>

                <div class="formCo">
                {{ form_start(registrationForm) }}
                    <div class="formCo-pseudo">
                        {{ form_label(registrationForm.Pseudo) }}
                        {{ form_widget(registrationForm.Pseudo) }}
                        {{ form_errors(registrationForm.Pseudo) }}
                    </div>

                    <div class="formCo-mdp">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword) }}
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>

                    <div class="formCo-btn">
                        <button type="submit" class="btn">Se connecter</button>
                    </div>

                {{ form_end(registrationForm) }}
                </div>

            </div>

        </section>
    </main><!-- End #main -->
{% endblock %}