{% extends 'layout.html.twig' %}
{% block titrePage %}
{% endblock %}

{% block mainSection %}
    {{ parent() }}
    {{ form(campusForm) }}
    {{ form_start(addCampusForm) }}
    <table class="scroll">
        <thead>
        <tr>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for c in listeCampus %}
            <tr>
                <td>{{ c.nomCampus }}</td>
                <td><a href="{{ path('up_campus', {'id': c.id}) }}">Modifier</a> -
                    <a href="{{ path('del_campus', {'id': c.id}) }}">Supprimer</a>
            </tr>
        {% endfor %}
        <tr>
                <td>{{ form_widget(addCampusForm.nomCampus) }}</td>
                <td>{{ form_rest(addCampusForm) }}</td>
        </tr>
        </tbody>
    </table>
    {{ form_end(addCampusForm) }}
{% endblock %}
