{% extends 'layout.html.twig' %}
{% block titrePage %}
{% endblock %}

{% block mainSection %}
    {{ form(campusForm) }}
    {{ form_start(addCampusForm) }}
    <table class="scroll">
        <thead>
        <tr>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for c in listeCampus %}
            <tr>
                <td>{{ c.nomCampus }}</td>
                <td><a href="#">Modifier</a> - {# TODO Rendre fonctionnel #}
                    <a href="#">Supprimer</a></td> {# TODO Rendre fonctionnel #}
            </tr>
        {% endfor %}
        <tr>
                <td>{{ form_widget(addCampusForm.nomCampus) }}</td>
                <td>{{ form_rest(addCampusForm) }}</td>
        </tr>
        </tbody>
    </table>
    {{ form_end(addCampusForm) }}
{% endblock %}
