{% extends 'layoutDisplay.html.twig' %}

{% block title %}
Ajout d'un Utilisateur
{% endblock %}

{% block mainSection %}
    <div class="w-100 flex-centered">
    <div class="edit-user-wrapper flex-centered width-60">
        <section class="edit-user-heading width-100">
            <h1>Nouvel utilisateur</h1>
        </section>
        <section class="addProfileUser flex-centered width-100">
            {{ form_start(userForm) }}
                {{ form_row(userForm.Pseudo) }}
                {{ form_row(userForm.prenom) }}
                {{ form_row(userForm.nom) }}
                {{ form_row(userForm.telephone) }}
                {{ form_row(userForm.mail) }}
                {{ form_row(userForm.role) }}
                {{ form_row(userForm.campus) }}

                {{ form_row(userForm.password.first) }}
                {{ form_row(userForm.password.second) }}
                <div class="upProfileUser-btn">
                    {{ form_row(userForm.enregistrer) }}
                    {{ form_row(userForm.retour) }}
                </div>
            {{ form_end(userForm) }}
         </div>
    </div>
{% endblock %}