{% extends 'layoutDisplay.html.twig' %}

{% block title %}
Admin | Utilisateur
{% endblock %}

{% block mainSection %}
    <div class="w-100 flex-centered">
        <div class="edit-user-wrapper flex-centered width-60">
            <section class="edit-user-heading width-100">
                <h1>Nouvel utilisateur<span class="point-logo">.</span></h1>
            </section>
            <section class="addProfileUser flex-centered width-100">
                {{ form_start(userForm) }}

                    {{ form_row(userForm.Pseudo) }}
                    {{ form_row(userForm.prenom) }}
                    {{ form_row(userForm.nom) }}
                    {{ form_row(userForm.telephone) }}
                    {{ form_row(userForm.mail) }}
                    {{ form_row(userForm.role) }}
                    {{ form_row(userForm.campus) }}

                    {{ form_row(userForm.password.first) }}
                    {{ form_row(userForm.password.second) }}

                    <div class="add-user-btn">
                        {{ form_row(userForm.enregistrer) }}
                    </div>
                {{ form_end(userForm) }}
                <div class="edit-user-retour">
                    <a href="{{ path('home') }}">
                        <button class="btn btn-primary">Retour</button>
                    </a>
                </div>
            </section>
         </div>
    </div>
    <footer>
        <p>Made with ❤️</p>
    </footer>
{% endblock %}