<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" />


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- TimeDate Picker -->
    {% block timePickerCDN %}
     {% endblock %}

    <title>{% block title %}Sortir-Connexion{% endblock %}</title>
    <!-- Logo -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Text -->
    <link href="https://fonts.googleapis.com/css2?family=Mako&family=Pacifico&display=swap" rel="stylesheet">

    <!-- my CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/ourstyle.css') }}">
    <script type="text/javascript" src="https://www.cornify.com/js/cornify.js"></script>
</head>

<body>
<script>
    const pressed = [];
    const secretCode = 'unicorn';

    window.addEventListener('keyup', (e) => {
        console.log(e.key);
        pressed.push(e.key);
        pressed.splice(-secretCode.length - 1, pressed.length - secretCode.length);
        if (pressed.join('').includes(secretCode)) {
            console.log('DING DING!');
            cornify_add();
        }
        console.log(pressed);
    });
</script>
<!-- ======= Header ======= -->
    <header>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="event-creation-nav-wrapper">
            <a class="navbar-brand" href="{{ path('home') }}"><h1>Sortir<span class="point-logo">.</span>com</h1></a>
            <div class="nav-item-wrapper">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {# pages accessible to admin #}
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('create_users') }}">Ajout d'utilisateur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('edit_villes') }}">Ville</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('edit_campus') }}">Campus</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('update_user',{'id' : app.user.id}) }}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> <!-- End Nav -->
        {% endblock %}
    </header><!-- End Header -->
    <main>
        {% block mainSection %}{% endblock %}
    </main>
    {% block js %}{% endblock %}
</body>
</html>